* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
  background: #f9f9f9;
  text-align: center;
}

/* Header */
.header {
  background: #1e1e2f;
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}

.header h1 {
  font-size: 2.5rem;
}

.header p {
  margin: 10px 0 20px;
}

.btn {
  background: #ff7a18;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
:hover.btn {
  background: #e76b10;
}

.profile-pic {
  border-radius: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
/* Profile Picture */
img.profile-pic {
  width: 200px;
  height: 250px;
  box-shadow: #333 0px 0px 10px;
    
}

/* Sections */
section {
  padding: 20px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

/* Skills */
.skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.skills li {
  background: #eee;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  
}
/* Projects */
.projects {
  background: #fff;
}

.project-card {
  background: #f1f1f1;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: #333 0px 0px 10px;

}

.project-card a {
  margin-right: 10px;
  text-decoration: none;
  color: #ff7a18;
}

/* Contact */
.contact {
  text-align: center;
 
}

.contact a {
  color: #ff7a18;
  text-decoration: none;

}
.contact a:hover {
  text-decoration: underline;
}
/* Footer */
footer {
  background: #1e1e2f;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

/* Responsive */
@media (max-width: 600px) {
  .header h1 {
    font-size: 2rem;
  }
}
